/*
** 預設為 > 992px
*/

#body_content {
    margin: auto;
    width: 60%;
}

.screenshot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
}

.img_wrap_landscape {
    width: 400px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 2px;
}

.img_wrap_landscape > img {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
}

.img_wrap_portrait {
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 2px;
}

.img_wrap_portrait > img {
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
}

.introduction {
    background: gray;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
}

#tips > img {
    vertical-align: middle;
}

.how_to_play {
    position: relative;
    background-color: lightgoldenrodyellow;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
    border-radius: 3px;
    z-index: -1;
}

.how_to_play > span {
    position: relative;
    z-index: 1;
}

.how_to_play > img {
    position: absolute;
    width: auto;
    max-height: 42px;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    z-index: 0;
    margin-right: 8px;
    margin-bottom: 2px;
}

#footer_section {
    display: flex;
    align-items: center;    
    height: 48px;
}

.bottom_space {
    height: 20px;
}


/*
** Large
*/
@media screen and (max-width: 992px) {
    #body_content {
        margin: auto;
        width: 80%;
    }
}

/*
** Medium
 */
@media screen and (max-width: 768px) {
    #body_content {
        margin: auto;
        width: 95%;
    }
}

/* 
** small screen
*/
@media screen and (max-width: 576px) {
    #body_content {
        margin: auto;
        width: 95%;
    }
}