/* screen split size follow Bootsraps. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

/*
** 預設為 > 992px
*/
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
   -webkit-font-smoothing: antialiased; 
}

#name_title {
    font-family: 'Open Sans', sans-serif;
    color: #009D42;
    font-weight: 700;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased; 
}

body {
    background: #F5F5F7;
    padding-bottom: 250px;
}

#profile_photo {
    position: absolute;
    left: 0px;
    top: -15px;
    z-index: 1;
}

#profile {
    border-radius: 20px;
    width: 35%;
    height: 35%;
}

#body_content {
    position: relative;
    margin: auto;
    width: 60%;
    top: 100px;
}

.page_link {
    color: inherit;
}

.page_link:hover {
    color: #0091DB;
}

#icon_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#icon_link > a {
    margin: 8px;
}

.main_content {
    position: relative;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 0;
    top: 50px;
    left: 25px;
    border-radius: 24px;
}

.text_area {
    margin-top: 0px;
    margin-left: 100px;
    padding-right: 20px;
}

#footer {
    position: fixed;
    bottom: 0px;
}

/*
** Large
*/
@media screen and (max-width: 992px) {
    p {
        font-size: 1rem;
    }

    #profile_photo {
        left: 0px;
    }

    #profile {
        width: 35%;
        height: 35%;
    }

    #name_title {
        font-size: 1.3rem;
    }

    #body_content {
        margin: auto;
        width: 90%;
    }

    #body_content {
        position: relative;
        margin: auto;
        width: 60%;
        top: 100px;
    }

    .main_content {
        position: relative;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.9);
        z-index: 0;
        top: 50px;
        left: 18px;
        border-radius: 24px;
    }

    .text_area {
        margin-top: 0px;
        margin-left: 100px;
        padding-right: 20px;
    }

    #icon_link > a {
        margin: 12px;
    }

    #site_states {
        opacity: 0.5;
        display: block;
    }
}

/*
** Medium
 */
@media screen and (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }

    #profile_photo {
        left: 0px;
    }

    #profile {
        width: 35%;
        height: 35%;
    }

    #name_title {
        font-size: 1rem;
    }

    #body_content {
        position: relative;
        margin: auto;
        width: 75%;
        top: 72px;
    }

    .main_content {
        position: relative;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.9);
        z-index: 0;
        top: 50px;
        left: 12px;
        border-radius: 24px;
    }

    .text_area {
        margin-top: 0px;
        margin-left: 100px;
        padding-right: 20px;
    }

    #developing_word {
        color: gray;
        font-style: italic;
        font-size: 0.8em;
        margin-right: 12px;
        float: left;
    }

    #site_states {
        opacity: 0.0;
        display: none;
    }

}

/* 
** small screen
*/
@media screen and (max-width: 576px) {
    #profile_photo {
        left: 4px;
    }

    #profile {
        width: 30%;
        height: 30%;
    }
    
    #body_content {
        position: relative;
        margin: auto;
        width: 90%;
        top: 48px;
    }

    .main_content {
        left: 8px;
        position: relative;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.9);
        z-index: 0;
        top: 50px;
        border-radius: 24px;
    }

    .text_area {
        margin-top: 64px;
        margin-left: 0px;
        padding-right: 8px;
    }

    #site_states {
        opacity: 0.0;
        display: none;
    }
}


